* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

div , p{
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    margin: 0;
}

div:nth-child(n+5){
    background-color: yellow;
}

div:nth-child(-n+5){
    background-color: #eee;
}